{% extends 'base.html'%}

{% block content %}

<h1>Welcome</h1>

<p>
    <a class="btn btn-success" href="/search">Search</a>
    <a class="btn btn-primary" href="/admin">Admin</a>
    <a class="btn btn-warning" href="/api">API</a>
</p>

{% endblock %}