{% extends "base.html"%}

{% block content %}

<div class="row">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/search/?q={{ drink.drink }}">Search</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ drink.drink }}</li>
    </ol>
  </nav>
</div>

<h1>{{ drink.drink }}</h1>
<p>Update: {{ drink.date_modified }}</p>

<p><img src="{{ drink.thumbnail }}" width=100 height=100 class="img-thumbnail" alt="{{ drink.drink }}"></p>

<table class="table table-bordered table-hover">
  <tr>
    <td><b>Alcoholic</b></td>
    <td>{{ drink.fk_alcoholic }}</td>
  </tr>
  <tr>
    <td><b>Category</b></td>
    <td>{{ drink.fk_category }}</td>
  </tr>
  <tr>
    <td><b>Glass</b></td>
    <td>{{ drink.fk_glass }}</td>
  </tr>
  <tr>
    <td><b>IBA</b></td>
    <td>{{ drink.iba }}</td>
  </tr>
</table>

<br><br>

<h2>Ingredients</h2>

<div class="row">
  <ul class="list-group">
    {% for recipe in drink.recipe_set.all %}
        <li class="list-group-item">{{ recipe.measure }} {{ recipe.fk_ingredient }}</li>
    {% endfor %}
  </ul>
<div>

<br><br>

<h2>Recipe</h2>

<p>{{ drink.instructions }}</p>

<br><br>

<h2>Others</h2>

<p>Similar drinks</p>

<br><br>

{% endblock %}