{% extends "base.html"%}

{% block content %}

<h1>Search drinks</h1>

<form action="{% url "drinks_search" %}" method="get">
  <div class="mb-3">
    <label for="inputDrink" class="form-label">Cocktail name</label>
    <input name="q" type="text" class="form-control" id="inputDrink" aria-describedby="drinkHelp" placeholder="Mojito">
    <div id="drinkHelp" class="form-text">Search for your favorite cocktail or ingredient !</div>
  </div>
</form>

<br>

Drinks found: {{ object_list.count }}

<br>

<div class="list-group">
    {% for object in object_list %}
      <a href="/drink/{{ object.id }}" class="list-group-item list-group-item-action">{{ object.drink }} ({{ object.recipe_set.all.count }} ingredients)</a>
    {% empty %}
    <p>No drinks found.</p>
    {% endfor %}
</div>

{% endblock %}